<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Портфолио Верстальщика</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.7/fullpage.css"
          integrity="sha512-g+xyrYTXR0jF5EZGiQUMisX9Rv9RfTnbaOKe9AJsjBVBMG9bk6aYXqYujStYTKPTDEcVo+6eLziI7Hr4GV1C1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>

<aside class="aside">
    <nav class="nav">
        <a href="#" class="logo">
            <img src="img/logo.svg" alt="logo">
        </a>
        <div class="lines">
            <span class="line-one"></span>
            <span class="line-two"></span>
            <span class="line-tree"></span>
        </div>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/damir-sharipzyanov-572525216/" class="social-links__item-1">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="tg://resolve?domain=D_Sh82/" class="social-links__item-2">
                <i class="fa-brands fa-telegram"></i>
            </a>
            <a href="mailto:mailto:dimayu82@gmail.com" class="social-links__item-3">
                <i class="fa-regular fa-envelope"></i>
            </a>
            <a href="https://hi-inet.ru/skype:dimayu82@gmail.com" class="social-links__item-4">
                <i class="fa-brands fa-skype"></i>
            </a>
        </div>
    </nav>
    <div class="border"></div>
</aside>

<!--    @@include("../blocks/modules/faq/faq.html")-->
<div id="fullpage">
    <div class="section section-home">
        <div class="wrapper">
            <div class="section__items">
                <div class="section__items__item">
                    <h1>
                        <span class="title">Привет!</span><br>
                        <span class="title">Меня зовут<br>Шарипзянов Дамир.</span><br>
                        <span class="title">Я web developer</span>
                    </h1>
                </div>
                <div class="section__items__item">
                    <img src="img/foto.jpg" alt="foto">
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about">Some section</div>
    <div class="section section-stack">Some section</div>
    <div class="section section-portfolio">Some section</div>
    <div class="section section-contacts">Some section</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.7/fullpage.min.js"></script>
<script src="https://kit.fontawesome.com/23b4085b53.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>